table.vouchers {
  width: 1100px;
  margin: 0 auto;
  thead {
    background-color: #1cadeb;
    font-size: 13px;
    color: white;
  }
  td {
    padding-top: 19px;
    padding-left: 28px;
    vertical-align: top;
  }
  tbody {
    tr {
      background-color: #f9f9f9;
      &:hover {
        background-color: white;
      }
    }
  }
  th {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
